<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Wordverse</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/CSS/create.css">
        <%- include('partials/imports/boxicons') %>
        <%- include('partials/imports/favicon-default') %>
        <%- include('partials/navbar/navbarCSS', {props: props}) %>
        <%- include('partials/cards/cardCSS') %>
        <%- include('partials/popup/popupCSS') %>
    </head>
    <body>
        <video autoplay muted loop>
            <source src="/images/create.mp4" type="video/mp4">
        </video>
        <%- include('partials/navbar/navbar', {props: props}) %>
        <%- include('partials/popup/popup') %>
        
        <h1 for="cardType" id="title">Choose a card type:</h1>
        <div id="three-buttons">
            <button id="create-btn-frontBack" class="create-btn">Front/Back</button>
            <button id="create-btn-hint" class="create-btn">Front/Back/Hint</button>
            <button id="create-btn-fillIn" class="create-btn">Fill-in</button>
        </div>  
    </br>
    </br>
        <div id="card-create">
            <div class="card-create-entry" id="create-frontBack">
                <div id="front-and-group">
                    <div id="front-group">
                        <h2 for="front">Front</h2>
                        <input name="front" type="text" label="front" id="frontBack-front"  placeholder="What's my name?">
                    </div>
                    <div id="back-group">
                        <h2 for="back">Back</h2>
                        <input name="back" type="text" label="front" id="frontBack-back"  placeholder="John Doe">
                    </div>
                </div>
                </br>
                </br>
                <button id="frontBack-submit" class="create-btn">Create</button>
            
                <div id="card-preview" style="display: flex; flex-direction: column; align-items: center;">
                    <h1>Preview:</h1>
                    <div class="flashcard flashcard-style-normal shown">
                        <div class="flashcard-contents">
                            <div class="flashcard-front" id="frontBack-exFront">
                                Front
                            </div>
                            <div class="flashcard-back hidden" id="frontBack-exBack">
                                Back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-create-entry" id="create-hint">
                <h3>Hint Flashcards Not Yet Available</h3>
            </div>
            <!-- FILL IN CARD CREATION -->
            <div class="card-create-entry" id="create-fillIn">
                <div>
                    <input type="text" name="fillInContent" id="fillin-content" placeholder="This ;;blank;; is here"/>
                    <br>
                    <button id="fillIn-submit" class="create-btn">Create</button>
                </div>
                <div id="fill-in-preview" style="display: flex; flex-direction: column; align-items: center;">
                    <h1>Preview:</h1>
                    <div id="fillin-ex" class="fill-in-card flashcard-style-normal shown">
                        <div class="fill-in-contents">
                            This <span class="fill-in-blank" data-answer="blank" oninput="validateFillIn(this)" contenteditable></span> is here
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/imports/jquery', {options: ["ui"]}) %>
        <%- include('partials/navbar/navbarJS', {props: props}) %>
        <%- include('partials/popup/popupJS') %>
        <%- include('partials/cards/cardJS') %>
        <script src="/JS/create.js" async defer></script>
    </body>
</html>