<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/flashcards.css">
        <%- include('partials/imports/boxicons') %>
        <%- include('partials/imports/favicon-default') %>
        <%- include('partials/dashboard/dashboardCSS', {props: props}) %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('partials/dashboard/dashboard', {props: props}) %>
        <div class="main-body">
            <div>
                <p>Welcome <%= props.username %>!</p>
                <form method="POST" action="/logout">
                    <input type="submit" value="Click Here to Logout">
                </form>
            </div>
            <div class="flashcard-container">
                <div class="flashcard-display flashcard-display-style-green">
                    <!-- FLASH CARD LIST -->
                    <div class="flashcard-list">
                        <div class="flashcard flashcard-style-normal in-deck">
                            <div class="flashcard-contents">
                                <div class="flashcard-front">
                                    Front 1
                                </div>
                                <div class="flashcard-back hidden">
                                    Back 1
                                </div>
                            </div>
                        </div>
                        <div class="flashcard flashcard-style-normal shown">
                            <div class="flashcard-contents">
                                <div class="flashcard-front">
                                    Front 2
                                </div>
                                <div class="flashcard-back hidden">
                                    Back 2
                                </div>
                            </div>
                        </div>
                        <div class="flashcard flashcard-style-normal in-deck">
                            <div class="flashcard-contents">
                                <div class="flashcard-front">
                                    Front 3
                                </div>
                                <div class="flashcard-back hidden">
                                    Back 3
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <div class="flashcard-button-display">
                        <button class="flashcard-button flashcard-button-prev">Prev</button>
                        <button class="flashcard-button flashcard-button-next">Next</button>
                    </div>
                </div>
            </div>
        </div>
          
        

        <%- include('partials/imports/jquery', {options: ["ui"]}) %>
        <script src="../JS/flashcards.js" async defer></script>
        <%- include('partials/navbar/navbarJS', {props: props}) %>
    </body>
</html>