<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/imports/boxicons') %>
    <%- include('partials/imports/favicon-default') %>
    <%- include('partials/navbar/navbarCSS', {props: props}) %>
    <%- include('partials/cards/cardCSS') %>
    <%- include('partials/popup/popupCSS') %>
    <link rel="stylesheet" href="/CSS/inbox.css">
</head>
<body>
    <%- include('partials/navbar/navbar', {props: props}) %>
    <%- include('partials/popup/popup') %>

    <video autoplay muted loop>
        <source src="/images/inbox.mp4" type="video/mp4">
    </video>

    <div class="inbox-container">
        <div class="inbox-button-group">
            <button id="send-button">Send a Card</button>
            <button id="incoming-button">Inbox</button>
        </div>
        <div class="inbox-sub-container" id="inbox-incoming-container">
            <div class="inbox-item-container">
                <% for( let i = 0; i < props.cardRequests.length; i++ ) { %>
                    <div class="inbox-item">
                        <%- include('partials/cards/frontBack', { card : props.cardRequests[i], topCard : true }) %>
                        <div data-id="<%= props.cardRequests[i]._id %>" class="card-buttons">
                            <i class="bx bxs-check-circle card-accept" onclick="cardAccept(this)"></i>
                            <i class="bx bxs-x-circle card-reject" onclick="cardReject(this)"></i>
                        </div>
                        <div class="sender-container">
                            Sent from <span class="username"><%= props.requestsData[i].sender %></span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="inbox-sub-container" id="inbox-send-container">
            <div class="friend-select-container">
                <label for="friend">Choose a friend</label>
                <select name="friend" id="friend-select">
                    <% for( let i = 0; i < props.friends.length; i++ ) { %>
                        <option value="" data-id="<%= props.friends[i]._id  %>">
                            <%= props.friends[i].userData.username %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="inbox-item-container">
                <% for( let i = 0; i < props.flashcards.length; i++ ) { %>
                    <div class="inbox-item">
                        <%- include('partials/cards/frontBack', { card : props.flashcards[i], topCard : true }) %>
                        <div data-id="<%= props.flashcards[i]._id %>" class="card-buttons">
                            <i class="bx bxs-send card-send" onclick="cardSend(this)"></i>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
    <%- include('partials/imports/jquery', {options: ["ui"]}) %>
    <%- include('partials/navbar/navbarJS', {props: props}) %>
    <%- include('partials/cards/cardJS') %>
    <%- include('partials/popup/popupJS') %>
    <script src="/JS/inbox.js" async defer></script>
</body>
</html>