<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Wordverse!</title>
        <link rel="stylesheet" href="CSS/index.css">
        <%- include('partials/imports/boxicons') %>
        <%- include('partials/imports/favicon-default') %>
        <%- include('partials/navbar/navbarCSS', {props: props}) %>
    </head>
    <body>
        <!-- <video autoplay muted loop>
            <source src="/images/index.mp4" type="video/mp4">
        </video> -->
        <%- include('partials/navbar/navbar', {props: props}) %>
        <div class="container">
            <div class="welcome-text">Welcome to</div>
            <a href="/profile" class="logo-link" id="logo-link">
                <div class="large-logo"></div>
            </a>
        </div>=
        <%- include('partials/imports/jquery', {options: ["ui"]}) %>
        <%- include('partials/navbar/navbarJS') %>
        <script src="/JS/index.js"></script>
    </body>
</html>
