<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordverse</title>
    <link rel="stylesheet" href="/CSS/profile.css">
    <%- include('partials/imports/boxicons') %>
    <%- include('partials/imports/favicon-default') %>
    <%- include('partials/navbar/navbarCSS', {props: props}) %>
</head>
<body>
    <video autoplay muted loop>
            <source src="/images/dashboard.mp4" type="video/mp4">
    </video>
    <%- include('partials/navbar/navbar', {props: props}) %>
    <div class="container">
        <div class="content">
            <div class="streak">
                <h2>Daily Study Streak: <%= props.userStats.streak %></h2>
                <i class='bx bxs-hot bx-tada'></i>
            </div>
            <div class="create">
                <h2>Add a Card</h2>
                <i class='bx bxs-folder-plus'></i>
            </div>
            <div class="challenge">
                <h2>Challenge Friends</h2>
                <i class='bx bxs-trophy bx-fade-up' ></i>
            </div>
        </div>
    </div>

    <!-- JS -->
    <%- include('partials/imports/jquery', {options: ["ui"]}) %>
    <%- include('partials/navbar/navbarJS', {props: props}) %>
</body>
</html>