<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/imports/boxicons') %>
    <%- include('partials/imports/favicon-default') %>
    <%- include('partials/dashboard/dashboardCSS', {props: props}) %>
</head>
<body>
    <%- include('partials/dashboard/dashboard', {props: props}) %>

    <h1>Welcome <%= props.username %></h1>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%- include('partials/dashboard/dashboardJS', {props: props}) %>
</body>
</html>