<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/imports/boxicons') %>
    <%- include('partials/imports/favicon-default') %>
    <%- include('partials/dashboard/dashboardCSS', {props: props}) %>
</head>
<body>
    <%- include('partials/dashboard/dashboard', {props: props}) %>

    <h1>Welcome back <%= props.username %>! Time to study...</h1>
    <!-- JS -->
    <%- include('partials/imports/jquery', {options: ["ui"]}) %>
    <%- include('partials/dashboard/dashboardJS', {props: props}) %>
</body>
</html>